/* Main style sheet template for use with html templates */

/*******************/
/* Global stylings */
/*******************/

/* Set how the total width and height of an element is calculated.

   The box-sizing property defines how the width and height of an element are calculated: whether they should include padding and borders, or not.

   The default value is content-box, which means that the width and height properties only include the content, but not the padding, border, or margin.

   The border-box value includes the padding and border in the width and height calculations, so that the total size of the element is equal to the specified width and height.

Values

   content-box

      This is the initial and default value as specified by the CSS standard. The width and height properties include the content, but does not include the padding, border, or margin. For example, .box {width: 350px; border: 10px solid black;} renders a box that is 370px wide.

      Here, the dimensions of the element are calculated as: width = width of the content, and height = height of the content. (Borders and padding are not included in the calculation.)

   border-box

      The width and height properties include the content, padding, and border, but do not include the margin. Note that padding and border will be inside of the box. For example, .box {width: 350px; border: 10px solid black;} renders a box that is 350px wide, with the area for content being 330px wide. The content box can't be negative and is floored to 0, making it impossible to use border-box to make the element disappear. 
*/
* {
   box-sizing: border-box;
}


/* Set the defaults for the entire document */
html {
   font-size: 14px;
}


/*******************************************/
/* this is the display part of the webpage */
/*******************************************/
body {
   display: grid;

   width: 1910px;
   height: 965px;

   grid-template-columns: repeat(12, [col_start] 1fr);
   grid-auto-rows: minmax(50px, auto);

   grid-gap: 30px 10px;

   /* Responsive: Small screen setup */
   grid-template-areas:
      "hd"
      "nav"
      "main"
      "sd"
      "ad"
      "ft";

   background-color: #fff;

   background-image: url('./images/IMG_1628.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;

   margin: 0;

   padding: 0;

   border: 5px dashed #000;
   border-radius: 3rem;

   z-index: -1;
}

header {
   display: flex;
   justify-content: space-around;

   grid-area: hd;
   /*        row col  row end  col end  */
   /* grid-area: 1 / 1 / span 1 / span 12; */

   align-items: center;

   z-index: 5;

   background-color: #1972a5;

   font-family: 'Space Mono', sans-serif;
   font-size: 1rem;
   font-weight: 400;
}

nav {
   display: flex;
   justify-content: space-around;
   align-content: space-around;

   gap: 20px 10px;

   flex-flow: column;

   grid-area: nav;
   /*        row col  row end  col end  */
   /* grid-area: 2 / 1 / span 1 / span 12; */

   align-items: center;

   z-index: 5;

   color: #000;
   background-color: #fff;

   font: 0.75rem 'Courier New', Courier, monospace;
   font-weight: 400;
}

nav ul {
   list-style: none;

   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
}

nav ul a {
   text-decoration: none;

   color: #000;

   padding: 20px;
}

main {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;


   grid-area: main;
   /*        row col  row end  col end  */
   /* grid-area: 3 / 1 / span 4 / span 9; */

   z-index: 3;

   background-color: #96e09f;

   font-family: 'Work Sans', sans-serif;
   font-size: 0.75rem;
   font-weight: 400px;
}

aside {
   display: flex;
   flex-direction: column;

   grid-area: sd;
   /*        row col  row end  col end  */
   /* grid-area: 3 / 10 / span 2 / span 3; */

   align-items: start;

   z-index: 3;

   background-color: #5ba5aa85;

   font-family: 'Abril Fatface', sans-serif;
   font-size: 0.75rem;
   font-weight: 400px;
}

#ad_id {
   display: flex;
   flex-direction: column;

   grid-area: ad;
   /*        row col  row end  col end  */
   /* grid-area: 5 / 10 / span 2 / span 3; */

   z-index: 3;

   background-color: blanchedalmond;

   font-family: 'Abril Fatface', sans-serif;
   font-size: 0.75rem;
   font-weight: 400;
}

footer {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

   grid-area: ft;
   /*        row col  row end  col end  */
   /* grid-area: 7 / 1 / span 1 / span 12; */

   z-index: 5;

   background-color: #e34343;

   font-family: cursive, sans-serif;
   font-size: 0.75rem;
   font-weight: 400px;

   position: relative;
   top: 0%;
}

/*******************************************/


/*********************************/
/* This is the common attributes */
/*********************************/
header,
nav,
main,
aside,
#ad_id,
footer {
   border: 2px solid #000;
   border-radius: 2rem;
}


/******************/
/* class stylings */
/******************/

/*************/
/* id styles */
/*************/
#body_p {
   font-family: 'Courier New', Courier, monospace;
   font-size: 0.75rem;
   font-weight: 400;
}


/***********************/
/* Responsive Rulesets */
/***********************/

/* Responsive: Medium screen setup */
@media only screen and (min-width: 480px) {
   body {
      grid-template-columns: 1fr 3fr;
      grid-template-areas:
         "hd hd"
         "nav nav"
         "sd main"
         "sd main"
         "sd main"
         "ad main"
         "ad main"
         "ft ft";
   }

   nav {
      margin: 0;
      padding: 0%;

      list-style: none;
      font-style: normal;

      font: 1rem Verdana, Geneva, Tahoma, sans-serif;

      color: #000;
      flex-flow: row;
   }

   nav ul {
      flex-direction: row;
   }
}

/* Responsive: Large screen setup */
@media only screen and (min-width: 1326px) {
   body {
      grid-template-columns: 10% 4fr 1fr;
      grid-template-areas:
         "hd hd hd"
         "nav main sd"
         "nav main sd"
         "nav main sd"
         "nav main ad"
         "ft ft ft";
   }

   nav {
      margin: 0;
      padding: 0%;

      list-style: none;
      font-style: normal;

      font: 1rem Verdana, Geneva, Tahoma, sans-serif;

      color: #000;

      flex-flow: column;
   }

   nav ul {
      flex-direction: column;
   }

}